{{ $paginator := .Paginate .Pages (index 50) }}
{{ $length := len .Data.Pages }}
{{ $count4 := sub (add $length 1 ) (mul 50 (sub $paginator.PageNumber 1)) }}
<section>
  <div class="discover-wrap">
    <div class="discover a1">
      {{ range .Pages.ByDate.Reverse }}
      {{ if .Params.img }}
      <div class="discover-grid">
        <div class="post-card" style="background-image: url({{ .Params.img }})">
          <div class="archive-left archive-left-card">{{ $count4 = sub $count4 1 }}{{ $count4 }}</div>
        </div>
        <div>
          {{ partial "post-info-sub.html" . }}
        </div>
      </div>
      {{ else }}
      <div>
        <div class="archive-left">{{ $count4 = sub $count4 1 }}{{ $count4 }}</div>
        <span>
          {{ partial "post-info-sub.html" . }}
        </span>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ partial "pagination.html" . }}