{{ $paginator := .Paginate .Pages (index 50) }}
{{ $length := len .Data.Pages }}
{{ $count4 := sub (add $length 1 ) (mul 50 (sub $paginator.PageNumber 1)) }}
{{ range $paginator.Pages.GroupByDate "2006" }}
{{ $count6 := 0 }}{{ range .Pages }}{{ $count6 = add $count6 .WordCount }}{{ end }}
{{ $leng := len .Pages }}
<section>
  <div class="year">
    <h2>{{ .Key }}</h2>
    <div class="des-base">　凡 {{ $leng }} 篇　{{- $count6 }} 字　篇均 {{ div $count6 $leng }} 字</div>
  </div>
  <div class="discover-wrap">
    <div class="discover">
      {{ range .Pages.ByDate.Reverse }}
      {{ if .Params.img }}
      <div class="discover-grid">
        <div class="post-card" style="background-image: url({{ .Params.img }})">
          <div class="archive-left">{{ $count4 = sub $count4 1 }}{{ $count4 }}</div>
        </div>
        <div>
          {{ partial "post-info-sub.html" . }}
        </div>
      </div>
      {{ else }}
      <div>
        <div class="archive-left">{{ $count4 = sub $count4 1 }}{{ $count4 }}</div>
        <span>
          {{ partial "post-info-sub.html" . }}
        </span>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ partial "pagination.html" . }}