<div class="article-info">
    <div class="des-base a1">
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format "2006-01-02" }}
            {{ if ne .Date .Lastmod }}>{{- .Lastmod.Format "06-01-02" }}{{ end }}
            {{ if ne .Date .PublishDate }}○ {{ .PublishDate.Format "06-01-02" }}{{ end }}
        </time>
    </div>
    <div class="des-base a1">
        <span>{{- .WordCount }} 字</span>
        <!-- {{ partial "sourcecode.html" . }} -->
    </div>
    <div class="des-base des-tag a1">
        {{ with .Params.author }}
        <span><strong>作者</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "author/%s" $name) | default (site.GetPage "term" (printf
            "author/%s" ($name | urlize))) }}
            <a href="/author/{{ $name }}">@{{ $name }}</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.auth }}
        <span><strong>作者</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "auth/%s" $name) | default (site.GetPage "term" (printf
            "auth/%s" ($name | urlize))) }}
            <a href="/auth/{{ $name }}">@{{ $name }}</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.from }}
        　<span><strong>來源</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "from/%s" $name) | default (site.GetPage "term" (printf
            "from/%s" ($name | urlize))) }}
            <a href="/from/{{ $name }}">«{{ $name }}</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.series }}
        　<span><strong>系列</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "series/%s" $name) | default (site.GetPage "term" (printf
            "series/%s" ($name | urlize))) }}
            <a href="/series/{{ $name }}">{{ $name }}｜</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.column }}
        　<span><strong>專欄</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "column/%s" $name) | default (site.GetPage "term" (printf
            "column/%s" ($name | urlize))) }}
            <a href="/column/{{ $name }}">{{ $name }}｜</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.tag }}
        　<span><strong>標籤</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "tag/%s" $name) | default (site.GetPage "term" (printf
            "tag/%s"
            ($name | urlize))) }}
            <a href="/tag/{{ $name }}">#{{ $name }}</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.book }}
        　<span><strong>學科</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "book/%s" $name) | default (site.GetPage "term" (printf
            "book/%s" ($name | urlize))) }}
            <a href="/read#{{ $name }}">#{{ $name }}</a>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ with .Params.step }}
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "step/%s" $name) | default (site.GetPage "term" (printf
            "step/%s" ($name | urlize))) }}
            <a href="/read#{{ $name }}">{{ $name }}</a></span>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ with .Params.note }}
        　<span><strong>備註</strong>
            {{ range . }}
            {{ $name := . }}
            {{ with site.GetPage "term" (printf "note/%s" $name) | default (site.GetPage "term" (printf
            "note/%s" ($name | urlize))) }}
            <a href="/note/{{ $name }}">({{ $name }})</a></span>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>

    <div class="des-base des-tag a1">
        <span><strong>版權</strong></span>
        {{- if .Params.contentCopyright }}
        {{ .Params.contentCopyright | safeHTML | markdownify }}
        {{- else }}
        {{ site.Params.contentCopyright | safeHTML |markdownify }}
        {{ end }}
    </div>
</div>