<nav class="u-wrap" style="padding-bottom: 1em;">
    <div class="banner-wrap a1">
        <div>
            <a href="https://kqh.me" target="_blank">赫赫文王</a>
            <a href="https://cal.kqh.me" target="_blank">曆藏</a>
            <a href="https://rec.kqh.me" target="_blank">情形於聲</a>
            <a href="https://me.kqh.me" target="_blank">柯棋瀚</a>
        </div>
        <a href="/">
            <div class="site-title"></div>
        </a>
        <div>
            <div>
                <a href="/post">論說</a>
                <a href="/diary">散記</a>｜
                <a href="/read">讀書</a>
                <a href="/key">教程</a>
                <a href="/database">資料</a>｜
                <a href="/newsletter">琴易</a>｜
                <a href="/#qinpu">琴藏</a>
            </div>
            <input id="algolia-autocomplete" placeholder="搜索 無需回車" class="search">
            <span class='tab a1' style="font-size: 1em;"><a href="/about" target="_blank">誠邀作者</a></span>
            <button class='a3 fr' style="font-size: .9em;"><a href='https://kqhnewsletter.zhubai.love'
                    target="_blank">訂閱</a></button>
        </div>
    </div>
</nav>