{{ if or .Params.vertical (and site.Params.vertical (ne .Params.vertical false)) }}
<div class="vertical-wrap">
  {{ partial "sidebar.html" . }}
  <article class="DocSearch-content vertical">
    {{ partial "article-info.html" . }}
    {{ .Content }}
  </article>
  {{ if and .TableOfContents (gt (len .TableOfContents) 40 ) }}
  <aside class="toc">
    {{ .TableOfContents }}
  </aside>
  {{ end }}
</div>

{{ else }}
{{ if eq .Page.Type "gallery" }}
<div class="u-wrap">
  <article class="DocSearch-content">
    {{ partial "article-info.html" . }}
    {{ .Content }}
  </article>
</div>

{{ else }}

<div class="u-wrap">
  <div class="horizontal-wrap">
    {{ partial "sidebar.html" . }}
    <article class="DocSearch-content horizontal">
      {{ partial "article-info.html" . }}
      {{ .Content }}
    </article>
    {{ if and .TableOfContents (gt (len .TableOfContents) 40 ) }}
    <aside class="toc toc-horizontal">
      {{ .TableOfContents }}
    </aside>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}