{{ partialCached "banner.html" . }}
<header class="Heading">
  {{ if .Params.img }}
  <div class="article-cover" style="background-image: url({{ .Params.img }})">
    <div>
      <h1 class="DocSearch-lvl1">
        {{- .Title | safeHTML | markdownify -}}
      </h1>
      <div class="des-taxo black">{{ .Params.Description | safeHTML | markdownify }}</div>
    </div>
  </div>
  {{ else }}
  <div>
    <h1 class="DocSearch-lvl1">{{- .Title | safeHTML | markdownify -}}
    </h1>
    <div class="des-taxo">{{ .Params.Description | safeHTML | markdownify }}</div>
  </div>
  {{ end }}
</header>