
# 征稿启事

《春秋学刊》是由北京师范大学历史学院主办、春秋学社承办的以本科生为主体的学术性校内刊物。本刊刊载本科生中具有较高水平的历史学学术论文 ，下设多个板块 ，涵盖中国古代史、中国近现代史、世界史、历史文献学、史学史与史学理论等史学研究的多个领域。本刊坚持创新发展，旨在展现本科生较高的历 史学学术水平，为相关专业的学生及史学爱好者提供交流研究成果的平台，以促进同学学业的精进。现面向全国各院校本科生诚邀稿件，具体要求如下：

1. 文章形式为学术论文（包含摘要、关键词等），正文字数不少于 3000 字，以 12 000 字以内为宜。本刊恕不接收历史散文。
2. 一律使用 页下 注，采用中文注法，参照《历史研究》格式， 不另列参考文献。
3. 作者应充分尊重他人知识产权，独立完成稿件。引用文献应逐一核对原文，确保准确无误，如使用转引资料，应实事求是注明转引出处。
4. 投稿前已在其他期刊、报纸、专著、论文集、 学术网站上发表的文章，本刊概不接受。
5. 本刊实行双向匿名评审制度，文章中请勿出现个人信息。
6. 编辑部有权对来稿做文字表述及其他技术性修改。

投稿流程如下：

1. 将稿件以 docx 格式发至本刊邮箱 chunqiuxuekan〔at〕163.com ，请在邮件正文和稿件末尾注明姓名、年级、单位、邮箱、手机 ，以便联系 。出版时保留姓名、单位、年级信息。如有图片，请另附原图。
2. 审稿结束后，编辑部将告知被录用的作者，修改意见发至邮箱。 未被录用者不另行通知。

2020 年秋季卷截稿日期：2020 年 11 月 30 日。
