{{ $siteLastmod := slice }}
{{ range (where site.RegularPages.ByLastmod.Reverse "Type" "in" site.Params.Sections4) }}
{{ if ne .Lastmod .Date }}
{{ $siteLastmod = $siteLastmod | append . }}
{{ end }}
{{ end }}
{{ $blogLastmod := slice }}
{{ range (where site.RegularPages.ByLastmod.Reverse "Type" "post") }}
{{ if ne .Lastmod .Date }}
{{ $blogLastmod = $blogLastmod | append . }}
{{ end }}
{{ end }}
<div class="u-wrap">
    <div class="discover-wrap">
        <div class="discover a1 column2">
            <ul style='list-style: none;'>
                <h3>網誌</h3>
                {{ range first 30 $blogLastmod }}
                <li><a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a>&nbsp;
                    <time datetime="{{ .Date.Format "2006-01-02" }}" class="des-base des-des">{{ .Lastmod.Format
                        "2006-01-02" }}</time>
                </li>
                {{ end }}
            </ul>
            <ul>
                <h3>其他板塊</h3>
                {{ range first 30 $siteLastmod }}
                <li><a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a>&nbsp;
                    <time datetime="{{ .Date.Format "2006-01-02" }}" class="des-base des-des">{{ .Lastmod.Format
                        "2006-01-02" }}</time>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>