{{ $count := 0 }}
<div class="u-wrap">
  <div class="discover-wrap">
    <div class="discover column6 a1">
      {{ range site.Data.links.blogfriends }}
      <div>
        <div class="grid-bg bggray">
          <div class="post-card links-icon" style="background-image: url({{ .img }})">
            <div class="archive-left">{{ $count = add $count 1 }}{{ $count }}</div>
          </div>
          <div>
            <time class="des-base des-des">{{ .date }}</time>
            <a href="{{ .href }}" target="_blank">
              <div class="discover-item">{{ .title }}</div>
            </a>
            {{ if .description }}<div class="des-base des-des">{{ .description | safeHTML | markdownify }}</div>{{ end
            }}
            {{ if .mydescription }}<div class="des-base" style="font-family:var(--serif);margin-top:1em">{{
              .mydescription
              | safeHTML | markdownify }}</div>{{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>