<div class="u-wrap">
    <div class="discover-wrap discover column3 a1">
        <ol>
            <h3>2017-2018</h3>
            {{ range site.Menus.top2018 }}
            <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Name | safeHTML }}</a></li>
            {{ end }}
        </ol>
        <ol>
            <h3>2018-2019</h3>
            {{ range site.Menus.top2019 }}
            <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Name | safeHTML }}</a></li>
            {{ end }}
        </ol>
        <ol>
            <h3>2019-2020</h3>
            {{ range site.Menus.top2020 }}
            <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Name | safeHTML }}</a></li>
            {{ end }}
        </ol>
        <ol>
            <h3>2020-2021</h3>
            {{ range site.Menus.top2021 }}
            <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Name | safeHTML }}</a></li>
            {{ end }}
        </ol>
    </div>
</div>